@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700,800&display=swap&subset=cyrillic-ext);
._container {
  max-width: 1190px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1202px) {
    ._container {
      max-width: 970px; } }
  @media (max-width: 991.98px) {
    ._container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    ._container {
      max-width: none;
      padding: 0 10px; } }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section,
main {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Poppins"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px; }
  .btn._fw {
    width: 100%; }

.select {
  position: relative;
  line-height: 1; }
  .select__item {
    position: relative;
    width: auto; }
  .select__title {
    color: #fff;
    border: 1px solid #ba0000;
    background-color: #ba0000;
    cursor: pointer;
    border-radius: 4px; }
    @media (max-width: 991.98px) {
      .select__title {
        font-size: 14px; } }
  .select__value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    height: 30px;
    padding: 0px 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    @media (max-width: 767.98px) {
      .select__value {
        height: 16px; } }
    @media (max-width: 479.98px) {
      .select__value {
        font-size: 12px; } }
    .select__value span {
      height: 16px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
      @media (max-width: 479.98px) {
        .select__value span {
          height: 14px; } }
    .select__value:before {
      content: "";
      display: inline-block;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 11px;
      height: 7px;
      margin: 0px 0px 0px 10px;
      background: url("../../img/icons/down_icon-icons.com_61209.svg") center/100% no-repeat; }
      @media (max-width: 479.98px) {
        .select__value:before {
          margin: 0px 0px 0px 7px;
          background: url("../../img/icons/down_icon-icons.com_61209.svg") center -4px/100% no-repeat; } }
  .select__input {
    width: 100%;
    background-color: transparent;
    height: 100%; }
  .select__options {
    color: #fff;
    display: none;
    position: absolute;
    top: 35px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background-color: #ba0000;
    border: 1px solid #fff;
    border-top: 0;
    font-size: 14px;
    padding: 0px 0px 0px 0px; }
    @media (max-width: 767.98px) {
      .select__options {
        top: 23px; } }
  .select__option {
    cursor: pointer;
    padding: 5px 15px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    border-top: 1px solid #fff; }
    @media (max-width: 479.98px) {
      .select__option {
        font-size: 12px; } }
    .select__option:last-child {
      border-bottom: 1px solid #fff; }
    @media (min-width: 992px) {
      .select__option:hover {
        background: #ffcc00;
        color: #ba0000; } }
  .select._active {
    z-index: 5; }
    .select._active .select__value:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .select._active .select__options {
      display: block; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  font-size: 20px;
  height: 50px; }
  .input._error {
    border: 2px solid red; }

textarea.input {
  resize: none;
  padding: 0px 0px; }

.checkbox {
  position: relative; }
  .checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    .checkbox__input:checked + .checkbox__text:before {
      background: #fff url("../img/icons/check.svg") center no-repeat; }
  .checkbox__text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    cursor: pointer; }
    .checkbox__text:before {
      content: "";
      -ms-flex-item-align: start;
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background: #fff;
      border: 1px solid #a7a9ac; }
  .checkbox a {
    color: #fff;
    text-decoration: underline; }
    @media (min-width: 992px) {
      .checkbox a:hover {
        text-decoration: none; } }
  .checkbox._error .checkbox__text:before {
    border: 1px solid #ee1212; }

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .options__item {
    position: relative;
    cursor: pointer; }
  .options__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    left: 0;
    top: 0;
    visibility: hidden; }
    .options__input:checked + .options__text:after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .options__text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16); }
    .options__text:before {
      content: "";
      -ms-flex-item-align: start;
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      border-radius: 50%;
      width: 20px;
      height: 18px;
      background: #fff;
      border: 1px solid #a7a9ac; }
    .options__text:after {
      content: "";
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #77243a;
      position: absolute;
      left: 5px;
      top: 4px; }

.rating-block {
  display: table;
  font-size: 0; }

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .rating.edit .star {
    cursor: pointer; }
  .rating .star {
    width: 17px;
    height: 14px;
    display: inline-block;
    position: relative;
    z-index: 3; }

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%; }

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%; }

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle; }

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45); }
  .quantity__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    position: relative;
    cursor: pointer; }
    .quantity__button::before, .quantity__button::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      margin: 0px 0px 0px -4.5px;
      background-color: #a6a6a6;
      width: 9px;
      height: 1px; }
    @media (min-width: 991.98px) {
      .quantity__button:hover::before, .quantity__button:hover::after {
        background-color: rgba(0, 0, 0, 0.5); } }
    .quantity__button_plus::before {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .quantity__input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
    .quantity__input input {
      height: 100%;
      color: #a6a6a6;
      font-size: 12px;
      width: 100%;
      text-align: center; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

._ibg {
  position: relative; }
  ._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slick-slider .slick-slide {
    position: relative; }

.mirror {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{transition: all 0.3s ease 0s;top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{transform: scale(0);
				&:first-child{transform: rotate(-45deg);;top: 8px;}
				&:last-child{transform: rotate(45deg);;bottom: 8px;}
			}
		}
	}
*/
.footer {
  background-color: #636363; }
  .footer__container {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__text {
    text-transform: uppercase;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.header {
  position: relative;
  width: 100%;
  z-index: 10; }
  .header__top {
    background-color: #ba0000; }
  .header__main {
    background-color: #ffcc00; }

.top-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px; }
  @media (max-width: 991.98px) {
    .top-header__row {
      height: 40px; } }
  @media (max-width: 767.98px) {
    .top-header__row {
      height: 30px; } }

.top-header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.top-header__item {
  position: relative; }

.top-header__item_c {
  cursor: pointer;
  margin: 0px 30px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 0px 0px 22px;
  background: url(/img/icons/users.svg) left center/15px no-repeat; }
  @media (max-width: 767.98px) {
    .top-header__item_c {
      display: inline-block;
      margin: 0px 0px 0px 0px; } }

.top-header__item_p {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.top-header__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 0px 0px 10px; }
  @media (max-width: 767.98px) {
    .top-header__avatar {
      width: 25px;
      height: 25px; } }
  .top-header__avatar img {
    width: 100%;
    height: 100%; }

@media (max-width: 479.98px) {
  .top-header__link {
    font-size: 12px; } }

.top-header__arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  margin: 0px 5px 0px 0px; }

.top-header__sublist {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 115px;
  text-align: right;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.top-header__subitem {
  margin: 0px 0px 15px 0px; }
  .top-header__subitem:last-child {
    margin: 0px 0px 0px 0px; }

.top-header__sublink {
  white-space: nowrap; }
  .top-header__sublink:hover {
    text-decoration: underline; }

.main-header__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px; }
  @media (max-width: 991.98px) {
    .main-header__row {
      height: 90px; } }

.main-header__logo {
  margin: 0px 101.5px 0px 0px; }
  @media (max-width: 1202px) {
    .main-header__logo {
      margin: 0px 40px 0px 0px; } }
  @media (max-width: 991.98px) {
    .main-header__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin: 0px 0px 0px 0px; } }

.main-header__search {
  margin: 0px 0px 0px auto;
  padding: 0px 1px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .main-header__search .search-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ba0000;
    position: relative;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
    @media (max-width: 767.98px) {
      .main-header__search .search-icon {
        width: 40px;
        height: 40px; } }
    .main-header__search .search-icon:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .main-header__search .search-icon::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 20px;
      height: 24px;
      background: url(../../img/icons/search.svg) center/100% no-repeat; }

.main-header__input {
  padding: 0px 0px 0px 15px;
  visibility: hidden;
  opacity: 0;
  height: 30px;
  border-radius: 15px 0 0 15px;
  background-color: #fff1bb;
  width: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  position: absolute;
  right: 40px; }
  @media (max-width: 767.98px) {
    .main-header__input {
      right: 30px; } }
  .main-header__input._active {
    width: 180px;
    visibility: visible;
    opacity: 1; }
    @media (max-width: 1202px) {
      .main-header__input._active {
        width: 140px; } }

.search-text {
  display: none; }

.menu {
  height: 100%;
  position: relative; }
  .menu__icon {
    display: none; }
    @media (max-width: 991.98px) {
      .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
        .menu__icon::before, .menu__icon::after,
        .menu__icon span {
          left: 0;
          position: absolute;
          height: 10%;
          width: 100%;
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          background-color: #ba0000; }
        .menu__icon::after, .menu__icon::before {
          content: ""; }
        .menu__icon::before {
          top: 0; }
        .menu__icon::after {
          bottom: 0; }
        .menu__icon span {
          top: 50%;
          -webkit-transform: scale(1) translate(0px, -50%);
          -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%); }
        .menu__icon._active span {
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0); }
        .menu__icon._active::before {
          top: 50%;
          -webkit-transform: rotate(-45deg) translate(0px, -50%);
          -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%); }
        .menu__icon._active::after {
          bottom: 47%;
          -webkit-transform: rotate(45deg) translate(0px, 50%);
          -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%); } }
  .menu__body {
    height: 100%; }
    @media (max-width: 991.98px) {
      .menu__body {
        border-top: 4px solid #ba0000;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 75%;
        background-color: #ffcc00;
        padding: 30px 30px 30px 30px;
        -webkit-transition: left 0.3s ease 0s;
        -o-transition: left 0.3s ease 0s;
        transition: left 0.3s ease 0s;
        overflow: auto; }
        .menu__body::before {
          content: "";
          position: fixed;
          width: 100%;
          top: 0;
          left: -100%;
          height: 70px;
          background-color: #4b4b4b;
          z-index: 2; }
        .menu__body._active {
          left: 0; } }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ba0000;
    text-transform: uppercase;
    font-size: 14px;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 991.98px) {
      .menu__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .menu__item {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 0px 22.5px; }
    @media (max-width: 1202px) {
      .menu__item {
        padding: 0px 15px; } }
    .menu__item:hover {
      background-color: #ba0000;
      color: #ffcc00;
      cursor: pointer; }
    .menu__item:last-child {
      margin: 0px 0px 0px 0px; }

.top-header__arrow._active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.top-header__item_p._active .top-header__sublist {
  visibility: visible;
  opacity: 1;
  background-color: #ba0000;
  position: absolute;
  top: 130%;
  min-width: 100%;
  padding: 0px 15px 15px 15px;
  text-align: right;
  z-index: 3;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  pointer-events: all; }
  @media (max-width: 991.98px) {
    .top-header__item_p._active .top-header__sublist {
      top: 115%; } }
  @media (max-width: 767.98px) {
    .top-header__item_p._active .top-header__sublist {
      top: 100%;
      padding: 10px 15px 15px 15px; } }

/*
.header {
	position: fixed; //фиксируем шапку всегда вверху окна браузера
	top: 0; //располагаем в самом верху и слева
	left: 0;
	width: 100%; // делаем шапку на всю ширину
	z-index: 10; //поднимаем над остальным контентом
	background-color: #4b4b4b;
	&__container {
		display: flex; //выстраиваем логотип и меню в одну строку
		align-items: center; //выравниваем шапку по центру по вертикали
		justify-content: space-between; //раскидываем логотип и меню по краям
		min-height: 70px; //задаем мин.высоту шапке
	}
	&__logo {
		color: #fff;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 40px;
		font-weight: 600;
		position: relative; //для z-index
		z-index: 6; //поднимаем логотип над шапкой
	}
	&__menu {
	}
}
.menu {
	&__icon {
		display: none; //скрываем иконку меню бургера по умолчанию
		@media (max-width: $md3+px) {
			z-index: 5; //поднимаем над слоями
			display: block; // возвращаем отображение иконки меню бургера
			position: relative; //для z-index и для относительного позиционирования полосок бургера
			width: 30px; //ширина контейнера для иконки бургера
			height: 18px; //высота контейнера для иконки бургера
			cursor: pointer; //меняем вид курсора при наведении на бургер
			&::before,
			&::after,
			& span {
				left: 0; //позиционируем по левому краю контейнера
				position: absolute; // располагаем относительно контейнера бургера
				height: 10%; //высота каждой полоски 10% от родителя
				width: 100%; //на всю длину родителя
				transition: all 0.3s ease 0s; //анимация для превращения бургера в крестик
				background-color: #fff; //цвет полосок бургера
			}
			&::after,
			&::before {
				content: ""; //добавляем для работы псевдоэлементов
			}
			&::before {
				top: 0; //расположение верхней полоски в самом верху контейнера
			}
			&::after {
				bottom: 0; //расположение нижней полоски в самом низу контейнера
			}
			& span {
				top: 50%; //расположение средней полоски на 50% от контейнера
				transform: scale(1) translate(0px, -50%); //возвращение средней полоски на половину своего размера
			}
			&._active span {
				//работает со средней полоской когда нажимаем на иконку бургера
				transform: scale(0); //уменьшаем полоску до нуля
			}
			&._active::before {
				//работает с верхней полоской бургера когда нажимаем на иконку бургера
				top: 50%; //опускаем ниже для формирования крестика
				transform: rotate(-45deg) translate(0px, -50%); //наклоняем для формирования крестика
			}
			&._active::after {
				//работает с нижней полоской бургера когда нажимаем на иконку бургера
				bottom: 47%; //поднимаем выше для формирования крестика
				transform: rotate(45deg) translate(0px, 50%); //наклоняем для формирования крестика
			}
		}
	}
	&__body {
		@media (max-width: $md3+px) {
			//делаем меню в открытом состоянии бургера
			position: fixed; //фиксируем на весь экран
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: #000;
			padding: 100px 30px 30px 30px; //внутренние отступы открытого меню
			transition: left 0.3s ease 0s; //анимация выезда меню
			overflow: auto; //позволяет списку меню в открытом бургере скроллиться
			&::before {
				//создаем плашку для шапки чтобы под неё уходило меню
				content: "";
				position: fixed; //фиксируем её сверху
				width: 100%; //делаем её на всю ширину
				top: 0;
				left: -100%; //убираем меню в закрытом состоянии бургера
				height: 70px; //высота плашки
				background-color: #4b4b4b;
				z-index: 2; //поднимаем плашку над открытым меню бургер и под логотипом с кнопкой бургера.
			}
			&._active {
				left: 0; //возвращаем меню бургер в открытом состоянии при добавлении класса _active
			}
		}
	}
	&__list {
		@media (min-width: 767px) {
			display: flex; //выстраиваем меню в одну строку на пк версии
			align-items: center; //выравниваем по центру по вертикали
		}
	}
	&__item {
		position: relative; //для относительного позиционирования подменю
		margin: 0px 0px 0px 20px; // отступы между пунктами основного меню
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px; //отступы между пунктами меню в октрытом меню бургере
			flex-wrap: wrap; //в открытом меню бургере разрешаем ломать строку где пункт основного меню находится в одной строке со стрелочкой и подменю
			&:last-child {
				margin: 0px 0px 0px 0px; //убираем отступ у последнего пункта меню в открытом меню бургере
			}
			&._active .menu__sublist {
				//обращаемся к подменю только когда ссылка на подменю имеет класс _active(т.е нажата) в открытом меню бургер.
				display: block;
			}
		}
		@media (min-width: 767px) {
			padding: 10px 0; //увеличивает высоту строки главного меню, чтоб подменю не закрывалось при переводе курсора с основного пункта
		}
	}
	&__link {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		color: #fff;
		font-size: 18px;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: $md3+px) {
			font-size: 24px;
		}
	}
	&__sublist {
		position: absolute; //позиционируем относительно пункта основного меню
		top: 100%; //опускаем на 100% от основного меню
		right: 0; //выравниваем по правому краю относительно пункта основного меню
		background-color: #000;
		padding: 15px; // отступы пунктов подменю от краев подменю
		min-width: 115px; //ширина подменю
		@media (min-width: 767px) {
			//работаем с подменю в пк версии
			transform: translate(0px, 10px); //смещаем подменю вниз для создания эффекта подъема при открытии
			opacity: 0; //делаем подменю прозрачным для эффекта появления при открытии
			visibility: hidden; //скрываем подменю для создания закрытого состояния
			pointer-events: none; //запрещает любое взаимодействие курсором с объектом. что бы меню нельзя было ловить при исчезании.
			transition: all 0.3s ease 0s; //добавляем анимацию открытия и закрытия подменю
		}
		@media (max-width: $md3+px) {
			position: relative; //убираем у подменю абсолютное позиционирование в открытом меню бургер
			background-color: #fff;
			margin: 20px 0px 0px 0px; // добавляет отступ между подменю и ссылкой на подменю  в открытом меню бургере
			flex: 1 1 100%; //перенесенное на новую строку подменю будет на всю ширину открытого меню бургера.
			display: none; //скрыть открытое подменю по умолчанию
		}
	}
	&__subitem {
		margin: 0px 0px 10px 0px; //задаем отступы между пунктами подменю
		&:last-child {
			margin: 0px 0px 0px 0px; //убираем отступ у последнего пункта подменю
		}
	}
	&__sublink {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: $md3+px) {
			font-size: 20px;
			color: #000;
		}
	}
}
.menu__arrow {
	display: none; // в пк версии скрываем стрелочку для подменю
}
body._pc .menu__item:hover .menu__sublist {
	//обращаемся к подменю, только в состоянии когда курсор наведен на пункт основного меню и только на пк версии
	opacity: 1; //возвращаем видимость подменю
	visibility: visible; //включаем отображение подменю
	transform: translate(0px, 0px); //возвращаем на место, смещенное ранее подменю
	pointer-events: all; //разрешаем взаимодействие
}
body._touch .menu__item {
	//обращаемся к пунктам основного меню в мобильной версии и размещаем их в одну строку со стрелочкой
	display: flex;
	align-items: center; // выравниваем пункт меню и стрелочку по вертикали по центру
}
body._touch .menu__link {
	//обращаемся к ссылкам в основном меню в мобильной версии
	flex: 1 1 auto; //делаем ссылку на всю ширину menu__item
}
body._touch .menu__arrow {
	//работаем со стрелочкой для подменю в мобильной версии
	display: block; //начинаем отображать стрелочку
	//далее бордерами создаем треугольник
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
	transition: transform 0.3s ease 0s; //добавляем анимацию для стрелочки во время открытия/закрытия подменю
	margin: 0px 0px 0px 5px; // делаем отступ между пунктом меню и стрелочкой
}
body._touch .menu__item._active .menu__sublist {
	//обращаемся к подменю, только в состоянии когда menu__item имеет класс _active (т.е нажата стрелочка) и только в мобильной версии
	opacity: 1; //возвращаем видимость подменю
	visibility: visible; //включаем отображение подменю
	transform: translate(0px, 0px); //возвращаем на место, смещенное ранее подменю
	pointer-events: all; //разрешаем взаимодействие
}
body._touch .menu__item._active .menu__arrow {
	//обращаемся к стрелочке, только в состоянии когда menu__item имеет класс _active (т.е нажата стрелочка) и только в мобильной версии
	transform: rotate(180deg); // добавляем разворот стрелочки при нажатии
}
*/
.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden; }
  .popup::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease 0s;
    -o-transition: opacity 0.8s ease 0s;
    transition: opacity 0.8s ease 0s; }
  .popup.show {
    visibility: visible;
    overflow: auto; }
    .popup.show::before {
      opacity: 1; }
    .popup.show .popup__body {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .popup._active {
    overflow: auto;
    visibility: visible; }
    .popup._active::before {
      opacity: 1; }
    .popup._active .popup__body {
      -webkit-transition: all 0.3s ease 0.2s;
      -o-transition: all 0.3s ease 0.2s;
      transition: all 0.3s ease 0.2s;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .popup__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center; }
  .popup__body {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #666;
    max-width: 800px;
    text-align: center;
    border-radius: 10px; }
    .popup__body .popup-top {
      padding: 20px 40px 20px 40px;
      background-color: #ba0000;
      border-radius: 10px 10px 0 0; }
      .popup__body .popup-top h3 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin: 0px 0px 10px 0px; }
      .popup__body .popup-top p {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 24px;
        text-decoration: underline; }
    .popup__body .popup-bottom {
      padding: 20px 40px 40px 40px;
      background-color: #ffcc00;
      border-radius: 0 0 10px 10px;
      color: #ba0000;
      max-width: 500px; }
      .popup__body .popup-bottom h3 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin: 0px 0px 10px 0px; }
      .popup__body .popup-bottom input {
        height: 40px;
        width: 70%;
        border-radius: 10px;
        background-color: #fff1bb;
        margin: 0px 0px 10px 0px;
        padding: 0 10px; }
      .popup__body .popup-bottom button {
        color: #fff;
        background-color: #ba0000;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 10px 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
        .popup__body .popup-bottom button:hover {
          text-decoration: underline; }
      .popup__body .popup-bottom p {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 20px;
        margin: 0px 0px 30px 0px;
        line-height: 120%; }
  .popup__close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 30;
    background: url("../../img/icons/close.svg") 0 0 no-repeat; }

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  font-size: 14px; }

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 90px 0px 0px 0px; }

body._lock {
  overflow: hidden; }

a {
  color: inherit; }
