.header {
	position: fixed; //делаем фиксированную сверху шапку.
	top: 0; // позиция шапки
	left: 0;
	width: 100%; //Шапка на всю ширину
	z-index: 50; //Помещаем шапку поверх всего остального
	&::before {
		// создаем плашку для скрола меню под неё
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%; //Ширина и высота плашки на весь размер шапки
		height: 100%;
		background-color: rgb(99, 99, 99);
		z-index: 2;
	}
	&__container {
		position: relative;
		display: flex; // выстраиваем элементы шапки в ряд
		justify-content: space-between; //раскидываем элементы шапки по краям
		height: 80px; //задаем фиксированную высоту шапке.
		align-items: center; //выстраиваем контент шапки по центру по вертикали
		@media (max-width: $md3+px) {
			height: 50px; //уменьшаем высоту шапки в планшетной версии
		}
	}
	&__logo {
		color: #fff;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 34px;
		font-weight: 600;
		position: relative; // для задания z-index
		z-index: 3; //вытаскивает лого над плашкой
	}
	&__burger {
		display: none; // скрываем меню бургер на разрешении больше 768px
		@media (max-width: $md3+px) {
			//задаем параметры контейнера для бургера
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3; //вытаскиваем меню над плашкой.
		}
		& span {
			//параметры средней линии бургера
			position: absolute; //располажение линий бургера относительно контейнера бургера.
			background-color: #fff; //цвет линий бургера
			left: 0; // общая начальная позиция линий бургера
			width: 100%; //длина линий бургера относительно их контейнера
			height: 2px; //высота линий бургера
			top: 9px; //отдельная позиция средней линии бургера
			transition: all 0.3s ease 0s; //анимация исчезновения средней линии
		}
		&::before,
		&::after {
			//задаем параметры верхней и нижней линий бургера
			content: "";
			background-color: #fff; //цвет линий бургера
			position: absolute; //располажение линий бургера относительно контейнера бургера.
			width: 100%; //длина линий бургера относительно их контейнера
			height: 2px; //высота линий бургера
			left: 0; // общая начальная позиция линий бургера
			transition: all 0.3s ease 0s; //анимация крестика бургера
		}
		&::before {
			//верхняя линия бургера
			content: "";
			top: 0; //отдельная позиция верхней линии бургера
		}
		&::after {
			//нижняя линия бургера
			content: "";
			bottom: 0; //отдельная позиция нижней линии бургера
		}
		&.active:before {
			//наклоняем верхнюю линию бургера в крестик
			content: "";
			transform: rotate(45deg);
			top: 9px;
		}
		&.active:after {
			//наклоняем нижнюю линию бургера в крестик
			content: "";
			transform: rotate(-45deg);
			bottom: 9px;
		}
		&.active span {
			//убираем среднюю линию бургера при крестике
			transform: scale(0);
		}
	}
	&__menu {
		@media (max-width: $md3+px) {
			//задаем параметры для меню открытого бургера
			position: fixed;
			overflow: auto; //для прокрутки пунктов открытого меню бургера.
			top: -100%; //расположение меню бургера в закрытом состоянии бургера
			left: 0;
			width: 100%; //ширина открытого меню бургера
			height: 100%; //высота открытого меню бургера
			background-color: rgb(52, 50, 128);
			padding: 70px 0px 20px 0px; //задаем расположение списка меню в открытом бургере
			text-align: center; //располагает меню в открытом бургере по центру
			transition: all 0.3s ease 0s; // анимация открытия меню бургера
		}
		&.active {
			top: 0; //возвращаем меню в открытом состоянии бургера
		}
	}
	&__list {
		display: flex; // выстраиваем пункты меню в ряд
		position: relative; //для задания z-index
		z-index: 3; //вытаскиваем меню в пк версии над плашкой
		@media (max-width: $md3+px) {
			display: block; //отключаем флекс у списка меню в открытом бургере для расположения в колонку.
		}
	}
	&__item {
		margin: 0px 20px 0px 0px; // задаем отступ между пунктами меню
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px; // задаем  вертикальный отступ между пунктами меню в открытом бургере
		}
	}
	&__link {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		&:hover {
			text-decoration: underline;
		}
	}
}
