.footer {
	background-color: rgb(99, 99, 99);
	&__container {
		width: 100%;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		text-transform: uppercase;
		color: #fff;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
}
