//===== Подключение шрифтов =====================================================================//
@import "fonts.scss";
//===============================================================================================//

//===== Шрифт по умолчанию ======================================================================//
$fontfamily: "Poppins";
//===============================================================================================//

//===== Переменные ==============================================================================//
$minwidth: 320px;
$mw: 1190; //+20px
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//===============================================================================================//

//===== Основная сетка ==========================================================================//
._container {
	max-width: $mw + px;
	margin: 0 auto;
	//padding: 0 10px;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//===============================================================================================//

//===== Подключение доп.стилей ==================================================================//
@import "nullstyle.scss";
@import "forms.scss";
@import "ui.scss";
@import "header.scss";
@import "footer.scss";
@import "burger_js.scss";
//@import "burger_jq.scss";
//@import "fontawesome.scss";
//@import "baguetteBox.scss";
@import "popup.scss";
//===============================================================================================//

//===== Оболочка ================================================================================//
.wrapper {
	width: 100%;
	overflow: hidden;
	min-height: 100%;
	display: flex; //Флекс контейнер column, для пибития футера к низу
	flex-direction: column;
	color: white;
	font-size: 16px;
	&.loaded {
	}
}
.page {
	flex: 1 1 auto; //Разрешаем .page увеличиваться, прибивая футер к низу.
	padding: 90px 0px 0px 0px; // отступ контента из под фиксированной шапки
}
body._lock {
	overflow: hidden; //запрещает прокрутку сайта при открытом меню бургер.
}
a {
	color: inherit;
}

//===============================================================================================//

//===== Основные стили ==========================================================================//

//===============================================================================================//
